.controls {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.tasks {
  display: flex;
  flex-direction: column;
  background-color: rgb(205, 216, 252);
  border-radius: 5px;
  min-width: 400px;
  max-width: 60vw;
  padding: 1rem;
}

app-task:not(:last-child) {
  border-bottom: 1px solid rgb(84, 121, 170);
}

.active-filter {
  border-bottom: 2px solid black;
}

.filter-icon {
  max-width: 1.5rem;
}

.icon {
  max-width: 1.5rem;
}

.filters,
.filters > .filters-container {
  display: flex;
  gap: 0.5rem;
}

.filters > .filters-container > .icon {
  max-width: 1.25rem;
}

.filters {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 2px;
}

.filters-container {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
}
